<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="d-none d-md-block col-md-6 col-lg-6 col-xl-6 back-img">
        </div>
        <div #regForm class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex justify-content-center">
                <p-card>
                    <h4 class="text-center">Forgot Password?</h4>
                    <h6>You can reset your password here</h6>
                    <p-divider></p-divider>
                    <div #email class="pt-2">
                        <h6>E-Mail</h6>
                        <input type="text" pInputText style="width: 100%;" />
                    </div>
                    <div class="pt-4 d-flex justify-content-center">
                        <button pButton pRipple label="Reset Password" icon="pi pi-refresh" iconPos="right"
                            class="p-button-rounded" [loading]="loading" (onClick)="reset()"></button>
                    </div>
                    <div class="pt-2 d-flex align-items-center">
                       Back to&nbsp;<p-button label="login page" routerLink="/sign-in"
                            styleClass="p-button-link p-0"></p-button>
                    </div>
                </p-card>
            </div>
        </div>

    </div>
</div>