/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

.back-img{
    background-image: url('/assets/images/pexels-karolina-grabowska-4386339.jpg');
    background-size: cover;
    height: 100vh;
}